<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/AdminLTE.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/skins/_all-skins.min.css}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <header th:replace="admin/fragments/header :: header"></header>
    <aside th:replace="admin/fragments/sidebar :: sidebar"></aside>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>Dashboard</h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-lg-4 col-xs-6">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3 th:text="${totalUsers}">0</h3>
                            <p>Người dùng</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <a th:href="@{/admin/users}" class="small-box-footer">Xem chi tiết <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-6">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3 th:text="${totalFacilities}">0</h3>
                            <p>Cơ sở vật chất</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-building"></i>
                        </div>
                        <a th:href="@{/admin/facilities}" class="small-box-footer">Xem chi tiết <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-6">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3 th:text="${newReports}">0</h3>
                            <p>Yêu cầu bảo trì</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <a th:href="@{/admin/requests}" class="small-box-footer">Xem chi tiết <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer th:replace="admin/fragments/footer :: footer"></footer>
</div>
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/js/adminlte.min.js}"></script>
</body>
</html>